@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Noto+Sans+JP:wght@500&family=Righteous&family=Roboto:wght@500&display=swap");

@layer base {
  h2 {
    @apply text-nameColor text-4xl;
  }
  h3 {
    @apply text-2xl mb-6 font-noto font-bold;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-base;
  }
  p {
    @apply text-lg;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-display;
  }
  html {
    @apply font-serif;
  }

  section {
    @apply mb-10;
  }
}

.btn {
  @apply w-1/2 h-12 text-black font-display text-lg font-semibold uppercase px-5 transition ease-in-out hover:text-lightGreen hover:bg-lightDark;
}
.skill {
  @apply bg-lightYellow text-lg py-2 px-4 w-fit rounded-md;
}

ul :hover {
  @apply bg-green-light;
}
svg {
  @apply w-8;
}
div a :hover {
  @apply text-yellow;
}
.altName {
  display: flex;
}
.altName .hiro::after {
  content: "";
  width: 5px;
  height: 20px;
  background: #ec7fff;
  display: inline-block;
}
.altName .hiro {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
.altName .hiro::after {
  /*code commented for brevity*/
  animation: cursor-blink 1.5s steps(2) infinite;
}
.project_pic {
  flex: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  width: 50%;
}
.project_pic img {
  border-radius: 25px;
  border: solid #fffbac;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 1s;
}

.project_pic :hover {
  border-radius: 25px;
  border: solid #68f590;
  transform: scale(1.1);
}
.description {
  display: flex;
  align-items: center;
  flex: 70%;
  padding: 10px;
}
